{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>
<p>Olá! Seja bem-vindo ao meu site pessoal desenvolvido em Flask.</p>

<h2>Quem sou eu</h2>
<p>Sou estudante de Tecnologia da Informação, entusiasta de desenvolvimento de software e sempre em busca de resolver problemas por meio do código.</p>

<h2>O que gosto de fazer</h2>
<ul>
    <li>Estudar novas linguagens de programação e frameworks (como Python e Flask).</li>
    <li>Ouvir música, assistir qualquer jogo de futebol e jogar videogame nas horas vagas.</li>
    <li>Aprender sobre o funcionamento de inteligências artificiais.</li>
</ul>
{% endblock %}